src/de/dfki/vsm/sfsl/parser/
tmp/
/prj/version.ini
/log/vsm3.log
/log/stickman.log
.idea/*
.gradle
build/
!plugins/studymaster-web/src/main/resources/react-studymaster/build

#
# VSM specific
# Ignores the default directory containing the output of the vsm.util.ActivityLogger
activity_log

#
# MacOS stuff
.DS_Store


